<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats!!!</h3>
    <form method="get" action="/chats/new">
        <button>new Chat</button>
    </form>
    <br>
    <% for(let chat of chats) { %>
        <div class="chatbox">
            <p>from:<i> <%= chat.from %> </i></p>
            <div class="msg"> 
                <p> <%= chat.msg %> </p> 
                <form method="GET" action="/chats/<%=chat._id %>/edit">
                    <button>edit</button>
                </form>
                <form method="POST" action="/chats/<%=chat._id %>?_method=delete">
                    <button>delete</button>
                </form>
            </div>
            <p>Recieved by:<i> <%= chat.to %> </i></p>
            <hr/>
            <p><%=chat.created_at.toString().split(" ")[4] %></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join() %></p>
        </div>
        
        
        <% } %>
</body>
</html>
